@import url("css_variables.scss");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  color: var(--mustard);
  font-family: "Francois One", sans-serif;
}

#layout {
  background-color: var(--concrete);
  display: flex;
  flex-flow: column;
  height: 100vh;
}
